
<h1>鉄ニュース</h1>

<div style="color: #006600;">
 <%= flash[:notice] %>
</div>

<%
=begin
%>
<div>
 <%= link_to(h("ログイン"), :action => "login") %> |
 <%= link_to(h("ログアウト"), :action => "logout") %>
</div>
<%
=end
%>

<div>
  <%= link_to(h("追加"), :action => "add") %>
</div>

<div>
 [ <%= link_to(h("沖縄"),   :controller => "areas", :action => "okinawa") %>
 | <%= link_to(h("九州"),   :controller => "areas", :action => "kyushu") %>
 | <%= link_to(h("四国"),   :controller => "areas", :action => "shikoku") %>
 | <%= link_to(h("中国"),   :controller => "areas", :action => "chugoku") %>
 | <%= link_to(h("近畿"),   :controller => "areas", :action => "kinki") %>
 | <%= link_to(h("中部"),   :controller => "areas", :action => "chubu") %>
 | <%= link_to(h("関東"),   :controller => "areas", :action => "kanto") %>
 | <%= link_to(h("東北"),   :controller => "areas", :action => "tohoku") %>
 | <%= link_to(h("北海道"), :controller => "areas", :action => "hokkaido") %>
 | <%= link_to(h("海外"),   :controller => "areas", :action => "world") %>
 ]
</div>
<div>
 [ <%= link_to(h("社会"),       :controller => "categories", :action => "social") %>
 | <%= link_to(h("事件・事故"), :controller => "categories", :action => "accident") %>
 | <%= link_to(h("痴漢"),       :controller => "categories", :action => "molestation") %>
 | <%= link_to(h("政治・経済"), :controller => "categories", :action => "economy") %>
 | <%= link_to(h("科学・技術"), :controller => "categories", :action => "science") %>
 | <%= link_to(h("車両"),       :controller => "categories", :action => "vehicle") %>
 | <%= link_to(h("イベント"),   :controller => "categories", :action => "event") %>
 ]
</div>

<ul class="articles" style="width: 600px;">
 <%- @articles.each { |article| -%>
  <li class="article">
   <%= article_link(article) %>
   <span>
    <%
      combined_tagging = article.combined_tagging
      tags = []
      if combined_tagging
        tags << combined_tagging.division_tag.try(:name)
        tags << combined_tagging.category_tag1.try(:name)
        tags << combined_tagging.category_tag2.try(:name)
        tags << combined_tagging.area_tag1.try(:name)
        tags << combined_tagging.area_tag2.try(:name)
        tags.reject!(&:nil?)
      end
    %>
    <%=h tags.join(" / ") %>
   </span>
  </li>
 <%- } -%>
</ul>

<ul>
 <li>J: 次の記事へ移動</li>
 <li>K: 前の記事へ移動</li>
 <li>P: 現在の記事にピンを立てる</li>
 <li>V: 現在の記事を開く</li>
 <li>O: ピンを立てている記事を開く</li>
 <li>A: すべての記事にピンを立てる</li>
 <li>C: すべての記事のピンを解除</li>
</ul>

<%= javascript_include_tag("articles") %>
